In [126]:
import sqlite3
from product import product

from datetime import date
import pandas as pd

conn = sqlite3.connect("coto_products2 copy.db")
df = pd.read_sql_query("SELECT * FROM products", conn)
conn.commit()
conn.close()

In [2]:
dates = df['date'].unique()
date1=dates[0]
date2=dates[-1]

In [149]:
sku = df['sku'].unique()

In [128]:
df

,main_category,category,sub_category,sku,name,price,date
0,Almacén,Golosinas,Alfajores,00002722,Alfajor Terrabusi Chocolate 50 Gr X 6 Uni,185.39,2020-08-23
1,Almacén,Golosinas,Alfajores,00466606,Alfajor De Arroz Chocoarroz Chocolate 25 Gr X ...,45.59,2020-08-23
2,Almacén,Golosinas,Alfajores,00252320,Alfajor FANTOCHE Mini Chocolate Paquete 25 Gr ...,124.62,2020-08-23
3,Almacén,Golosinas,Alfajores,00252319,Alfajor Fantoche Mini Blanco Paquete 25 Gr 6 U...,124.62,2020-08-23
4,Almacén,Golosinas,Alfajores,00471470,Alfajor Tofi Chocolate 46 Gr X 6 Uni,152.35,2020-08-23
...,...,...,...,...,...,...,...
85322,Aire Libre,Parrilla,Accesorios De Parrilla,00474340,Setx3 Juego De Asado Trinc Churrasco . . .,"1,599.90",2020-09-06
85323,Aire Libre,Parrilla,Accesorios De Parrilla,00474414,Cuchillo De Coc 6' Mgo Madera Tradicional . . .,699.9,2020-09-06
85324,Aire Libre,Parrilla,Accesorios De Parrilla,00474395,Cuchillo De Coc 6' Ultracorte . . .,699.9,2020-09-06
85325,Aire Libre,Parrilla,Accesorios De Parrilla,00474397,Cuchillo Cocin/ Carnicero 7' Ultracorte . . .,"1,599.90",2020-09-06
85326,Aire Libre,Parrilla,Accesorios De Parrilla,00468072,Atizador Campagna . . . .,229.9,2020-09-06

In [146]:
ls = df_final['price1']
# for cada in df['price'][-5:]:
    # print(type(cada))
for index, row in df.iterrows():
    print(type(row[5]), index)
    print(df.iloc[index,5])
    if type(row[5])==str:
        print(row[5])
        df.iloc[index,5]=pd.to_numeric(row[5].replace(',',''))
        print(row[5])
    # if type(cada)==str:
#         # print(cada)
#         print(pd.to_numeric(cada.replace(',','')))
# df.iloc[-2,5]

730
37.53
<class 'float'> 84731
27.12
<class 'str'> 84732
1,865.88
1,865.88
1865.88
<class 'float'> 84733
131.16
<class 'float'> 84734
81.28
<class 'float'> 84735
36.71
<class 'str'> 84736
1,046.82
1,046.82
1046.82
<class 'str'> 84737
1,631.68
1,631.68
1631.68
<class 'float'> 84738
465.52
<class 'float'> 84739
70.68
<class 'str'> 84740
1,093.84
1,093.84
1093.84
<class 'float'> 84741
131.57
<class 'float'> 84742
131.57
<class 'float'> 84743
485.82
<class 'float'> 84744
478.78
<class 'float'> 84745
255.81
<class 'float'> 84746
516.01
<class 'float'> 84747
131.16
<class 'float'> 84748
131.57
<class 'float'> 84749
623.82
<class 'float'> 84750
683.7
<class 'float'> 84751
199.3
<class 'float'> 84752
81.28
<class 'float'> 84753
173.19
<class 'float'> 84754
753.57
<class 'float'> 84755
307.42
<class 'float'> 84756
141.36
<class 'float'> 84757
247.24
<class 'float'> 84758
32.63
<class 'float'> 84759
247.54
<class 'float'> 84760
193.48
<class 'str'> 84761
1,959.41
1,959.41
1959.41
<class 'float'> 84762
465.52
<class 'float'> 84763
623.82
<class 'str'> 84764
1,093.84
1,093.84
1093.84
<class 'float'> 84765
283.14
<class 'float'> 84766
235.51
<class 'float'> 84767
42.63
<class 'float'> 84768
247.54
<class 'str'> 84769
1,148.51
1,148.51
1148.51
<class 'float'> 84770
465.62
<class 'str'> 84771
1,036.21
1,036.21
1036.21
<class 'float'> 84772
40.38
<class 'str'> 84773
1,036.20
1,036.20
1036.2
<class 'float'> 84774
158.7
<class 'float'> 84775
179.31
<class 'float'> 84776
247.24
<class 'float'> 84777
40.38
<class 'float'> 84778
157.38
<class 'str'> 84779
1,489.19
1,489.19
1489.19
<class 'float'> 84780
247.54
<class 'float'> 84781
247.54
<class 'float'> 84782
277.43
<class 'float'> 84783
302.93
<class 'str'> 84784
1,066.91
1,066.91
1066.91
<class 'str'> 84785
1,036.21
1,036.21
1036.21
<class 'int'> 84786
349
<class 'float'> 84787
283.14
<class 'str'> 84788
1,099.15
1,099.15
1099.15
<class 'float'> 84789
143.2
<class 'str'> 84790
1,099.41
1,099.41
1099.41
<class 'float'> 84791
220.62
<class 'float'> 84792
277.43
<class 'str'> 84793
1,066.91
1,066.91
1066.91
<class 'float'> 84794
99.64
<class 'float'> 84795
220.62
<class 'float'> 84796
288.96
<class 'float'> 84797
187.16
<class 'float'> 84798
170.64
<class 'float'> 84799
143.1
<class 'float'> 84800
149.93
<class 'float'> 84801
149.93
<class 'str'> 84802
1,099.14
1,099.14
1099.14
<class 'float'> 84803
247.24
<class 'float'> 84804
631.37
<class 'float'> 84805
929.21
<class 'str'> 84806
1,148.51
1,148.51
1148.51
<class 'float'> 84807
199.71
<class 'str'> 84808
1,189.00
1,189.00
1189.0
<class 'float'> 84809
149.93
<class 'float'> 84810
157.48
<class 'float'> 84811
172.37
<class 'float'> 84812
133.51
<class 'float'> 84813
728.27
<class 'float'> 84814
766.62
<class 'int'> 84815
699
<class 'float'> 84816
631.37
<class 'float'> 84817
465.93
<class 'float'> 84818
141.36
<class 'float'> 84819
176.45
<class 'float'> 84820
202.26
<class 'float'> 84821
229.29
<class 'float'> 84822
716.34
<class 'str'> 84823
1,517.65
1,517.65
1517.65
<class 'float'> 84824
183.39
<class 'str'> 84825
1,099.14
1,099.14
1099.14
<class 'float'> 84826
333.02
<class 'float'> 84827
838.74
<class 'float'> 84828
632.8
<class 'float'> 84829
121.37
<class 'float'> 84830
202.97
<class 'float'> 84831
179.31
<class 'int'> 84832
799
<class 'float'> 84833
766.62
<class 'float'> 84834
488.06
<class 'float'> 84835
167.88
<class 'float'> 84836
434.2
<class 'str'> 84837
1,044.47
1,044.47
1044.47
<class 'float'> 84838
581.7
<class 'float'> 84839
285.28
<class 'float'> 84840
368.72
<class 'float'> 84841
332.82
<class 'str'> 84842
1,638.82
1,638.82
1638.82
<class 'float'> 84843
352.71
<class 'float'> 84844
133.51
<class 'float'> 84845
199.2
<class 'float'> 84846
342.71
<class 'float'> 84847
231.12
<class 'float'> 84848
199.2
<class 'float'> 84849
539.88
<class 'float'> 84850
131.57
<class 'str'> 84851
1,865.88
1,865.88
1865.88
<class 'str'> 84852
1,093.84
1,093.84
1093.84
<class 'str'> 84853
1,093.84
1,093.84
1093.84
<class 'float'> 84854
286.1
<class 'float'> 84855
247.24
<class 'float'> 84856
69.35
<class 'str'> 84857
1,148.51
1,148.51
1148.51
<class 'float'> 84858
235.51
<class 'float'> 84859
324.51
<class 'float'> 84860
443.38
<class 'float'> 84861
324.51
<class 'str'> 84862
1,959.00
1,959.00
1959.0
<class 'float'> 84863
443.38
<class 'float'> 84864
465.52
<class 'float'> 84865
334.95
<class 'float'> 84866
101.99
<class 'float'> 84867
235.51
<class 'float'> 84868
298.85
<class 'float'> 84869
471.94
<class 'float'> 84870
359.44
<class 'str'> 84871
11,999.00
11,999.00
11999.0
<class 'str'> 84872
14,999.00
14,999.00
14999.0
<class 'str'> 84873
21,000.00
21,000.00
21000.0
<class 'str'> 84874
11,999.00
11,999.00
11999.0
<class 'str'> 84875
14,499.00
14,499.00
14499.0
<class 'str'> 84876
6,499.00
6,499.00
6499.0
<class 'str'> 84877
13,999.00
13,999.00
13999.0
<class 'str'> 84878
6,499.00
6,499.00
6499.0
<class 'str'> 84879
19,499.00
19,499.00
19499.0
<class 'str'> 84880
22,499.00
22,499.00
22499.0
<class 'str'> 84881
24,999.00
24,999.00
24999.0
<class 'str'> 84882
24,999.00
24,999.00
24999.0
<class 'str'> 84883
19,499.00
19,499.00
19499.0
<class 'str'> 84884
19,499.00
19,499.00
19499.0
<class 'str'> 84885
24,999.00
24,999.00
24999.0
<class 'str'> 84886
29,999.00
29,999.00
29999.0
<class 'str'> 84887
24,999.00
24,999.00
24999.0
<class 'str'> 84888
19,499.00
19,499.00
19499.0
<class 'str'> 84889
22,499.00
22,499.00
22499.0
<class 'str'> 84890
22,499.00
22,499.00
22499.0
<class 'str'> 84891
21,999.00
21,999.00
21999.0
<class 'str'> 84892
21,999.00
21,999.00
21999.0
<class 'str'> 84893
21,999.00
21,999.00
21999.0
<class 'str'> 84894
21,999.00
21,999.00
21999.0
<class 'str'> 84895
22,499.00
22,499.00
22499.0
<class 'str'> 84896
22,999.00
22,999.00
22999.0
<class 'str'> 84897
34,500.00
34,500.00
34500.0
<class 'int'> 84898
399
<class 'int'> 84899
229
<class 'int'> 84900
570
<class 'float'> 84901
599.9
<class 'int'> 84902
188
<class 'str'> 84903
1,099.99
1,099.99
1099.99
<class 'float'> 84904
679.99
<class 'str'> 84905
2,699.99
2,699.99
2699.99
<class 'float'> 84906
759.99
<class 'float'> 84907
519.99
<class 'float'> 84908
349.99
<class 'float'> 84909
569.99
<class 'str'> 84910
2,599.99
2,599.99
2599.99
<class 'str'> 84911
2,499.90
2,499.90
2499.9
<class 'str'> 84912
1,999.99
1,999.99
1999.99
<class 'float'> 84913
209.9
<class 'float'> 84914
199.99
<class 'float'> 84915
999.9
<class 'str'> 84916
2,699.99
2,699.99
2699.99
<class 'str'> 84917
1,449.90
1,449.90
1449.9
<class 'int'> 84918
169
<class 'str'> 84919
1,579.00
1,579.00
1579.0
<class 'str'> 84920
1,449.00
1,449.00
1449.0
<class 'int'> 84921
925
<class 'int'> 84922
179
<class 'int'> 84923
879
<class 'int'> 84924
699
<class 'int'> 84925
299
<class 'int'> 84926
425
<class 'str'> 84927
1,499.00
1,499.00
1499.0
<class 'int'> 84928
599
<class 'int'> 84929
749
<class 'int'> 84930
299
<class 'str'> 84931
1,359.00
1,359.00
1359.0
<class 'int'> 84932
549
<class 'int'> 84933
799
<class 'int'> 84934
749
<class 'str'> 84935
1,339.00
1,339.00
1339.0
<class 'int'> 84936
449
<class 'int'> 84937
899
<class 'int'> 84938
145
<class 'int'> 84939
599
<class 'str'> 84940
2,699.00
2,699.00
2699.0
<class 'int'> 84941
899
<class 'str'> 84942
1,179.00
1,179.00
1179.0
<class 'str'> 84943
2,679.00
2,679.00
2679.0
<class 'str'> 84944
1,749.00
1,749.00
1749.0
<class 'str'> 84945
1,179.00
1,179.00
1179.0
<class 'int'> 84946
599
<class 'int'> 84947
699
<class 'int'> 84948
299
<class 'int'> 84949
199
<class 'int'> 84950
519
<class 'str'> 84951
1,899.00
1,899.00
1899.0
<class 'str'> 84952
8,599.00
8,599.00
8599.0
<class 'str'> 84953
1,399.00
1,399.00
1399.0
<class 'int'> 84954
279
<class 'int'> 84955
259
<class 'str'> 84956
2,055.00
2,055.00
2055.0
<class 'str'> 84957
2,055.00
2,055.00
2055.0
<class 'int'> 84958
505
<class 'int'> 84959
505
<class 'int'> 84960
669
<class 'int'> 84961
685
<class 'int'> 84962
505
<class 'int'> 84963
539
<class 'int'> 84964
539
<class 'int'> 84965
539
<class 'int'> 84966
505
<class 'int'> 84967
669
<class 'int'> 84968
685
<class 'int'> 84969
445
<class 'str'> 84970
3,359.00
3,359.00
3359.0
<class 'str'> 84971
1,139.00
1,139.00
1139.0
<class 'str'> 84972
1,139.00
1,139.00
1139.0
<class 'str'> 84973
3,359.00
3,359.00
3359.0
<class 'str'> 84974
1,139.00
1,139.00
1139.0
<class 'str'> 84975
1,139.00
1,139.00
1139.0
<class 'str'> 84976
1,139.00
1,139.00
1139.0
<class 'int'> 84977
829
<class 'int'> 84978
959
<class 'str'> 84979
9,599.00
9,599.00
9599.0
<class 'str'> 84980
52,999.00
52,999.00
52999.0
<class 'str'> 84981
102,000.00
102,000.00
102000.0
<class 'str'> 84982
68,999.00
68,999.00
68999.0
<class 'str'> 84983
79,999.00
79,999.00
79999.0
<class 'str'> 84984
54,999.90
54,999.90
54999.9
<class 'str'> 84985
83,999.00
83,999.00
83999.0
<class 'str'> 84986
54,999.90
54,999.90
54999.9
<class 'str'> 84987
63,999.00
63,999.00
63999.0
<class 'str'> 84988
31,899.00
31,899.00
31899.0
<class 'str'> 84989
5,999.90
5,999.90
5999.9
<class 'str'> 84990
17,599.00
17,599.00
17599.0
<class 'str'> 84991
19,999.00
19,999.00
19999.0
<class 'str'> 84992
14,190.00
14,190.00
14190.0
<class 'str'> 84993
7,990.00
7,990.00
7990.0
<class 'str'> 84994
11,690.00
11,690.00
11690.0
<class 'str'> 84995
3,690.00
3,690.00
3690.0
<class 'str'> 84996
7,250.00
7,250.00
7250.0
<class 'str'> 84997
19,990.00
19,990.00
19990.0
<class 'str'> 84998
3,399.00
3,399.00
3399.0
<class 'str'> 84999
8,390.00
8,390.00
8390.0
<class 'str'> 85000
5,490.00
5,490.00
5490.0
<class 'str'> 85001
18,999.00
18,999.00
18999.0
<class 'str'> 85002
5,990.00
5,990.00
5990.0
<class 'str'> 85003
13,990.00
13,990.00
13990.0
<class 'str'> 85004
12,799.00
12,799.00
12799.0
<class 'str'> 85005
16,499.00
16,499.00
16499.0
<class 'str'> 85006
5,499.00
5,499.00
5499.0
<class 'str'> 85007
5,100.00
5,100.00
5100.0
<class 'str'> 85008
12,599.00
12,599.00
12599.0
<class 'str'> 85009
4,099.00
4,099.00
4099.0
<class 'str'> 85010
11,399.00
11,399.00
11399.0
<class 'str'> 85011
6,499.00
6,499.00
6499.0
<class 'str'> 85012
13,899.00
13,899.00
13899.0
<class 'str'> 85013
12,999.00
12,999.00
12999.0
<class 'str'> 85014
3,299.00
3,299.00
3299.0
<class 'str'> 85015
6,770.00
6,770.00
6770.0
<class 'str'> 85016
16,175.00
16,175.00
16175.0
<class 'str'> 85017
21,335.00
21,335.00
21335.0
<class 'str'> 85018
4,899.00
4,899.00
4899.0
<class 'str'> 85019
11,999.00
11,999.00
11999.0
<class 'str'> 85020
12,399.00
12,399.00
12399.0
<class 'int'> 85021
799
<class 'int'> 85022
549
<class 'int'> 85023
529
<class 'int'> 85024
379
<class 'int'> 85025
99
<class 'int'> 85026
329
<class 'int'> 85027
529
<class 'int'> 85028
209
<class 'int'> 85029
209
<class 'float'> 85030
174.9
<class 'float'> 85031
124.9
<class 'int'> 85032
155
<class 'int'> 85033
485
<class 'float'> 85034
69.9
<class 'int'> 85035
309
<class 'int'> 85036
199
<class 'int'> 85037
329
<class 'int'> 85038
199
<class 'int'> 85039
245
<class 'int'> 85040
425
<class 'int'> 85041
405
<class 'int'> 85042
149
<class 'int'> 85043
69
<class 'int'> 85044
89
<class 'int'> 85045
69
<class 'int'> 85046
265
<class 'int'> 85047
89
<class 'int'> 85048
245
<class 'int'> 85049
69
<class 'int'> 85050
189
<class 'int'> 85051
89
<class 'int'> 85052
89
<class 'int'> 85053
89
<class 'int'> 85054
89
<class 'int'> 85055
89
<class 'int'> 85056
185
<class 'int'> 85057
69
<class 'int'> 85058
89
<class 'int'> 85059
69
<class 'int'> 85060
89
<class 'int'> 85061
69
<class 'int'> 85062
89
<class 'int'> 85063
89
<class 'int'> 85064
89
<class 'int'> 85065
839
<class 'int'> 85066
225
<class 'int'> 85067
69
<class 'int'> 85068
149
<class 'int'> 85069
69
<class 'int'> 85070
69
<class 'int'> 85071
225
<class 'int'> 85072
165
<class 'int'> 85073
69
<class 'int'> 85074
209
<class 'int'> 85075
470
<class 'int'> 85076
165
<class 'int'> 85077
89
<class 'int'> 85078
255
<class 'int'> 85079
255
<class 'int'> 85080
165
<class 'int'> 85081
89
<class 'int'> 85082
379
<class 'int'> 85083
255
<class 'int'> 85084
219
<class 'int'> 85085
69
<class 'int'> 85086
255
<class 'int'> 85087
255
<class 'int'> 85088
75
<class 'int'> 85089
69
<class 'int'> 85090
229
<class 'int'> 85091
235
<class 'int'> 85092
69
<class 'int'> 85093
55
<class 'int'> 85094
185
<class 'int'> 85095
189
<class 'float'> 85096
69.9
<class 'int'> 85097
329
<class 'float'> 85098
49.9
<class 'int'> 85099
145
<class 'int'> 85100
99
<class 'int'> 85101
130
<class 'int'> 85102
309
<class 'int'> 85103
109
<class 'int'> 85104
99
<class 'int'> 85105
120
<class 'int'> 85106
99
<class 'int'> 85107
249
<class 'int'> 85108
89
<class 'int'> 85109
275
<class 'int'> 85110
199
<class 'int'> 85111
99
<class 'int'> 85112
199
<class 'int'> 85113
129
<class 'int'> 85114
129
<class 'int'> 85115
199
<class 'int'> 85116
99
<class 'int'> 85117
799
<class 'int'> 85118
99
<class 'int'> 85119
429
<class 'int'> 85120
449
<class 'int'> 85121
129
<class 'int'> 85122
129
<class 'int'> 85123
249
<class 'int'> 85124
50
<class 'int'> 85125
369
<class 'int'> 85126
99
<class 'float'> 85127
359.9
<class 'int'> 85128
449
<class 'str'> 85129
1,099.00
1,099.00
1099.0
<class 'float'> 85130
359.9
<class 'int'> 85131
429
<class 'int'> 85132
399
<class 'int'> 85133
299
<class 'int'> 85134
120
<class 'int'> 85135
165
<class 'int'> 85136
85
<class 'int'> 85137
105
<class 'int'> 85138
145
<class 'int'> 85139
905
<class 'int'> 85140
130
<class 'int'> 85141
155
<class 'int'> 85142
49
<class 'int'> 85143
185
<class 'int'> 85144
139
<class 'int'> 85145
225
<class 'int'> 85146
619
<class 'int'> 85147
215
<class 'int'> 85148
249
<class 'int'> 85149
85
<class 'str'> 85150
8,999.00
8,999.00
8999.0
<class 'str'> 85151
3,499.00
3,499.00
3499.0
<class 'str'> 85152
7,999.00
7,999.00
7999.0
<class 'str'> 85153
9,999.00
9,999.00
9999.0
<class 'str'> 85154
5,999.00
5,999.00
5999.0
<class 'str'> 85155
7,499.00
7,499.00
7499.0
<class 'str'> 85156
14,999.00
14,999.00
14999.0
<class 'str'> 85157
2,799.00
2,799.00
2799.0
<class 'str'> 85158
13,999.00
13,999.00
13999.0
<class 'str'> 85159
2,799.00
2,799.00
2799.0
<class 'str'> 85160
1,799.00
1,799.00
1799.0
<class 'int'> 85161
699
<class 'str'> 85162
7,999.00
7,999.00
7999.0
<class 'str'> 85163
2,499.00
2,499.00
2499.0
<class 'str'> 85164
1,499.00
1,499.00
1499.0
<class 'int'> 85165
999
<class 'int'> 85166
499
<class 'int'> 85167
486
<class 'int'> 85168
197
<class 'str'> 85169
1,285.00
1,285.00
1285.0
<class 'str'> 85170
1,135.00
1,135.00
1135.0
<class 'int'> 85171
899
<class 'int'> 85172
99
<class 'str'> 85173
1,499.00
1,499.00
1499.0
<class 'int'> 85174
499
<class 'int'> 85175
389
<class 'int'> 85176
769
<class 'int'> 85177
699
<class 'str'> 85178
1,699.00
1,699.00
1699.0
<class 'str'> 85179
1,399.00
1,399.00
1399.0
<class 'str'> 85180
1,299.00
1,299.00
1299.0
<class 'int'> 85181
849
<class 'str'> 85182
3,699.00
3,699.00
3699.0
<class 'int'> 85183
799
<class 'str'> 85184
7,999.00
7,999.00
7999.0
<class 'int'> 85185
799
<class 'int'> 85186
639
<class 'int'> 85187
999
<class 'str'> 85188
1,199.00
1,199.00
1199.0
<class 'int'> 85189
974
<class 'int'> 85190
951
<class 'int'> 85191
898
<class 'int'> 85192
336
<class 'str'> 85193
1,153.00
1,153.00
1153.0
<class 'str'> 85194
1,188.00
1,188.00
1188.0
<class 'int'> 85195
356
<class 'str'> 85196
1,062.00
1,062.00
1062.0
<class 'str'> 85197
2,097.00
2,097.00
2097.0
<class 'str'> 85198
4,280.00
4,280.00
4280.0
<class 'int'> 85199
421
<class 'int'> 85200
580
<class 'int'> 85201
284
<class 'str'> 85202
1,188.00
1,188.00
1188.0
<class 'str'> 85203
1,050.00
1,050.00
1050.0
<class 'int'> 85204
505
<class 'str'> 85205
1,315.00
1,315.00
1315.0
<class 'str'> 85206
2,999.00
2,999.00
2999.0
<class 'str'> 85207
1,516.00
1,516.00
1516.0
<class 'str'> 85208
1,112.00
1,112.00
1112.0
<class 'str'> 85209
2,005.00
2,005.00
2005.0
<class 'str'> 85210
4,151.00
4,151.00
4151.0
<class 'str'> 85211
3,229.00
3,229.00
3229.0
<class 'int'> 85212
436
<class 'int'> 85213
228
<class 'str'> 85214
1,360.00
1,360.00
1360.0
<class 'str'> 85215
2,565.00
2,565.00
2565.0
<class 'str'> 85216
2,999.00
2,999.00
2999.0
<class 'str'> 85217
2,269.90
2,269.90
2269.9
<class 'str'> 85218
1,299.00
1,299.00
1299.0
<class 'int'> 85219
229
<class 'str'> 85220
1,999.00
1,999.00
1999.0
<class 'str'> 85221
1,299.00
1,299.00
1299.0
<class 'int'> 85222
249
<class 'str'> 85223
1,999.00
1,999.00
1999.0
<class 'int'> 85224
999
<class 'str'> 85225
2,269.90
2,269.90
2269.9
<class 'str'> 85226
1,199.00
1,199.00
1199.0
<class 'int'> 85227
499
<class 'int'> 85228
499
<class 'str'> 85229
4,999.00
4,999.00
4999.0
<class 'int'> 85230
399
<class 'int'> 85231
699
<class 'str'> 85232
2,499.00
2,499.00
2499.0
<class 'str'> 85233
2,999.00
2,999.00
2999.0
<class 'str'> 85234
1,999.00
1,999.00
1999.0
<class 'str'> 85235
3,499.00
3,499.00
3499.0
<class 'str'> 85236
2,999.00
2,999.00
2999.0
<class 'str'> 85237
1,799.00
1,799.00
1799.0
<class 'int'> 85238
499
<class 'str'> 85239
2,999.00
2,999.00
2999.0
<class 'int'> 85240
99
<class 'str'> 85241
1,799.00
1,799.00
1799.0
<class 'str'> 85242
2,999.00
2,999.00
2999.0
<class 'str'> 85243
3,999.00
3,999.00
3999.0
<class 'str'> 85244
3,999.00
3,999.00
3999.0
<class 'str'> 85245
1,199.00
1,199.00
1199.0
<class 'str'> 85246
3,499.00
3,499.00
3499.0
<class 'int'> 85247
799
<class 'int'> 85248
499
<class 'str'> 85249
2,999.00
2,999.00
2999.0
<class 'str'> 85250
1,999.00
1,999.00
1999.0
<class 'str'> 85251
2,499.00
2,499.00
2499.0
<class 'str'> 85252
1,799.00
1,799.00
1799.0
<class 'str'> 85253
2,999.00
2,999.00
2999.0
<class 'int'> 85254
249
<class 'str'> 85255
1,799.00
1,799.00
1799.0
<class 'str'> 85256
1,799.00
1,799.00
1799.0
<class 'str'> 85257
3,999.00
3,999.00
3999.0
<class 'str'> 85258
1,799.00
1,799.00
1799.0
<class 'str'> 85259
3,999.00
3,999.00
3999.0
<class 'int'> 85260
399
<class 'int'> 85261
599
<class 'int'> 85262
699
<class 'str'> 85263
2,999.00
2,999.00
2999.0
<class 'int'> 85264
99
<class 'str'> 85265
1,499.00
1,499.00
1499.0
<class 'str'> 85266
1,799.00
1,799.00
1799.0
<class 'int'> 85267
399
<class 'str'> 85268
1,499.00
1,499.00
1499.0
<class 'int'> 85269
999
<class 'int'> 85270
99
<class 'str'> 85271
2,999.00
2,999.00
2999.0
<class 'str'> 85272
1,499.00
1,499.00
1499.0
<class 'str'> 85273
1,199.00
1,199.00
1199.0
<class 'int'> 85274
249
<class 'str'> 85275
3,999.00
3,999.00
3999.0
<class 'str'> 85276
1,199.00
1,199.00
1199.0
<class 'int'> 85277
999
<class 'int'> 85278
599
<class 'str'> 85279
2,199.00
2,199.00
2199.0
<class 'str'> 85280
4,990.00
4,990.00
4990.0
<class 'str'> 85281
1,899.00
1,899.00
1899.0
<class 'str'> 85282
12,900.00
12,900.00
12900.0
<class 'str'> 85283
13,900.00
13,900.00
13900.0
<class 'str'> 85284
2,749.00
2,749.00
2749.0
<class 'str'> 85285
14,999.00
14,999.00
14999.0
<class 'str'> 85286
1,799.00
1,799.00
1799.0
<class 'str'> 85287
1,799.00
1,799.00
1799.0
<class 'str'> 85288
5,799.00
5,799.00
5799.0
<class 'str'> 85289
1,149.00
1,149.00
1149.0
<class 'str'> 85290
1,789.00
1,789.00
1789.0
<class 'str'> 85291
4,699.00
4,699.00
4699.0
<class 'str'> 85292
1,799.00
1,799.00
1799.0
<class 'int'> 85293
709
<class 'str'> 85294
1,079.00
1,079.00
1079.0
<class 'str'> 85295
1,079.00
1,079.00
1079.0
<class 'int'> 85296
709
<class 'int'> 85297
599
<class 'str'> 85298
2,899.00
2,899.00
2899.0
<class 'int'> 85299
709
<class 'int'> 85300
709
<class 'str'> 85301
1,499.00
1,499.00
1499.0
<class 'str'> 85302
1,499.00
1,499.00
1499.0
<class 'str'> 85303
1,299.00
1,299.00
1299.0
<class 'str'> 85304
1,399.00
1,399.00
1399.0
<class 'str'> 85305
3,159.00
3,159.00
3159.0
<class 'str'> 85306
1,139.00
1,139.00
1139.0
<class 'str'> 85307
7,490.00
7,490.00
7490.0
<class 'str'> 85308
11,990.00
11,990.00
11990.0
<class 'int'> 85309
189
<class 'int'> 85310
159
<class 'int'> 85311
195
<class 'int'> 85312
85
<class 'int'> 85313
214
<class 'int'> 85314
214
<class 'int'> 85315
214
<class 'int'> 85316
129
<class 'int'> 85317
159
<class 'int'> 85318
219
<class 'str'> 85319
1,299.90
1,299.90
1299.9
<class 'str'> 85320
1,099.90
1,099.90
1099.9
<class 'float'> 85321
649.9
<class 'numpy.float64'> 85322
1599.9
<class 'float'> 85323
699.9
<class 'float'> 85324
699.9
<class 'numpy.float64'> 85325
1599.9
<class 'float'> 85326
229.9

In [152]:
cols = ['sku','main_category','category', 'sub_category','name','price1','price2']
lista =[]
sku = df['sku'].unique()
for each in sku:
    
    sku = each,
    main_category=list(df[(df['sku']==each)]['main_category'])[0]
    category=list(df[(df['sku']==each)]['category'])[0]
    sub_category=list(df[(df['sku']==each)]['sub_category'])[0]
    name=list(df[(df['sku']==each)]['name'])[0]
    try:
        price1=list(df[(df['sku']==each) & (df['date']==date1)]['price'])[0]

    except:
        price1='NA'
    try:
        price2=list(df[(df['sku']==each) & (df['date']==date2)]['price'])[0]

    except:
        price2='NA'
    # if price2=='NA' or price1=='NA':
    #     print(name, price1,price2)
    lista.append([sku,main_category,category,sub_category,name,price1,price2])


df1 = pd.DataFrame(lista, columns=cols)
df1

,sku,main_category,category,sub_category,name,price1,price2
0,"(00002722,)",Almacén,Golosinas,Alfajores,Alfajor Terrabusi Chocolate 50 Gr X 6 Uni,185.39,185.39
1,"(00466606,)",Almacén,Golosinas,Alfajores,Alfajor De Arroz Chocoarroz Chocolate 25 Gr X ...,45.59,45.59
2,"(00252320,)",Almacén,Golosinas,Alfajores,Alfajor FANTOCHE Mini Chocolate Paquete 25 Gr ...,124.62,124.62
3,"(00252319,)",Almacén,Golosinas,Alfajores,Alfajor Fantoche Mini Blanco Paquete 25 Gr 6 U...,124.62,124.62
4,"(00471470,)",Almacén,Golosinas,Alfajores,Alfajor Tofi Chocolate 46 Gr X 6 Uni,152.35,167.59
...,...,...,...,...,...,...,...
14614,"(00491119,)",Textil,Dormitorio,Sabanas,Sábana King 1000 Hilos Dobby,NA,9999
14615,"(00491103,)",Textil,Dormitorio,Sabanas,Sábana Queen 200 Hilos Bamboo,NA,9999
14616,"(00491120,)",Textil,Dormitorio,Sabanas,Sábana King 600 Hilos Lisa,NA,13999
14617,"(00491122,)",Textil,Dormitorio,Sabanas,Sábana Queen 1000 Hilos Dobby,NA,7999
14618,"(00110769,)",Aire Libre,Deportes Y Ejercicios,Gimnasio Y Ejercicios,Pesa Plastica Recargable Grande Merco,NA,179

In [153]:
df_final=df1[(df1['price1']!='NA') & (df1['price2']!='NA')]

In [154]:
df_final['diff']=df_final['price2']-df_final['price1']
# df_final[df_final['price1']].applymap(lambda x: str(x.replace(',','')))

In [160]:
df_final.sort_values(by='%',inplace=True)

In [159]:
df_final['%']=df_final['diff']/df_final['price1']

In [163]:
df_final.to_csv('data.csv')